{{/*
	--- shortcodes/directory_index_recurse.html
	
	recursive function which takes the directory name as input
	and traverses down the complete file tree
	to create a list with directory names including the
	file name + size
	note that it is asumed that the given directory (start dir)
	is located down below the /static directory
	
	example call:
	
	< directoryindex_recurse pathURL="/software" >

	(c) 2020, Johann Oberdorfer - Engineering Support | CAD | Software
		www.johann-oberdorfer.eu
	This source file is distributed under the MIT license.
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
	See the MIT License for more details.

*/}}

{{ $pathURL := .Get "pathURL" }}

{{ define "read-dir" }}

	{{ $pathURL := .pathurl }}
	{{ $currentPath := .currentpath }}

	{{ $files := readDir (printf "/content/%s" $currentPath) }}

		{{ range $files }}

			{{ $fstat := os.Stat (printf "%s/%s" $currentPath .Name ) }}
			{{ $file_or_dir := printf "%s/%s" $currentPath .Name }}
            {{ $stripMD := ".md" }}

			{{ if not $fstat.IsDir }}
				<tr>
					<td>
                        <a href="{{ strings.TrimSuffix $stripMD (lower $file_or_dir) }}" >
                            {{ .Name }}
                        </a>
					</td>
				</tr>
			{{ end }}
		{{ end }}

{{ end }}

<div>
	<table>
		<thead>
			<th>Lista file:</th>
		</thead>
		<tbody>
			{{ template "read-dir" dict "pathurl" $pathURL "currentpath" $pathURL }}
		</tbody>
	</table>
</div>